<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430111211673-ho5thlqd2mhdmiv5cres9mt9la4cc4k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430111211673-ho5thlqd2mhdmiv5cres9mt9la4cc4k7</string>
	<key>API_KEY</key>
	<string>AIzaSyCd1VMPyhEHYunIPCc2ve_gPrDKPDNa9jw</string>
	<key>GCM_SENDER_ID</key>
	<string>430111211673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SSA.Hackdavis</string>
	<key>PROJECT_ID</key>
	<string>hackdavis-38984</string>
	<key>STORAGE_BUCKET</key>
	<string>hackdavis-38984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430111211673:ios:ac5190d69c538bc129f808</string>
	<key>DATABASE_URL</key>
	<string>https://hackdavis-38984.firebaseio.com</string>
</dict>
</plist>